*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: #d1d3d3;
    font-family: 'Inter';
    color: black;
}

.reg-header{
    text-align: center;
    font-size: 27px;
    font-weight: 200;
    margin-bottom: 11px;
}
.reg-header-2{
    color: #725043;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}

.reg-content{
    margin-left: 380px;
}
.photo{
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    margin-top: 70px;
    
    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 50%;
}
.photo-text{
    text-align: center;
    margin-top: 65px;
    font-size: 16px;
    font-weight: 200;
}
.change-photo{
    position: absolute;
    margin-left: 245px;
    margin-top: -90px;
    box-sizing: border-box;
    width: 116px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 15px;
}
.change-photo-text{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 200;
}

.info{
    font-weight: 400;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}
.annotation{
    margin-top: -42px;

    font-size: 12px;
    font-weight: 200;
}

.input-box-reg-name{
    width: 281.44px;
    height: 40px;

    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 15px;
    padding: 16px;
}
.input-box-reg-surname{
    display: flex;
    margin-left: 318px;
    margin-top: 0px;
}
.input-box-reg{
    width: 600px;
    height: 40px;
}
.input-box-reg-text{
    font-size: 12px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 5px;
}
.surname{
    display: flex;
    margin-left: 318px;
    margin-top: -60px;
}


.specialization-item{
    display: flex;
}
.specialization{
    width: auto;
    height: 40px;

    margin-top: 10px;
    margin-right: 26px;

    background: #FFCC80;
    border: 2px solid #725043;
    border-radius: 15px;
}
.specialization-text{
    text-align: center;
    padding: 0 25px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 200;
}

.about{
    width: 600px;
    height: 200px;

    border: 2px solid #FFCC80;
    border-radius: 15px;
}
.projects{
    margin-top: 10px;
    margin-bottom: 90px;
}

.save-text{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 10px 50px;
}
.btn-save{
    width: auto;
    height: auto;
    margin-left: 120px;
    margin-bottom: 30px;
}