* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #d1d3d3;
    font-family: 'Inter';
    color: black;
}

.aboutUs{
    display: table-column;
}

.about-header {
    text-align: center;
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 56px;
    color: #725043;
}

.about-title {
    text-align: left;
    font-size: 80px;
    font-weight: 200;

    color: #725043;
}

.about-title2 {
    text-align: left;
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #725043;
}
.about-title3 {
    text-align: left;
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #725043;
}

.logo {
    margin-left: 100px;
}

.titleColumn {
    margin-bottom: 120px;  
    height: 300px;
    display: flex;
    align-items: center;
}

.personColumn {
    height: 200px;
    display: flex;
    align-items: center;
}

.perconInfo1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "A B C"
        "K D C";
}

.person_name {
    font-family: 'Playfair Display';
    margin-top: 75px;
    font-size: 32px;
    font-weight: 400;
    grid-area: B;
}

.person_work {
    font-family: 'Inter';
    margin-top: 75px;
    font-size: 24px;
    font-weight: 200;
    grid-area: D;
}
.person_disc1 {
    font-family: 'Playfair Display';
    margin-top: 75px;
    font-size: 32px;
    font-weight: 400;
    grid-area: C;
}

.person_disc2 {
    font-family: 'Inter';
    margin-top: 75px;
    font-size: 24px;
    font-weight: 200;
    grid-area: E;
}


.percon_photo{

    width: 250px;
    height: 250px;
    display: block;
    grid-area: A;
}

.perconInfo {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50px 50px;
    justify-items: center;
    grid-template-areas:
        "A B C"
        "A D E";
}
