*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: #d1d3d3;
    font-family: 'Inter';
    color: black;
}

.reg-header{
    text-align: center;
    font-size: 27px;
    font-weight: 200;
    margin-bottom: 11px;
}
.reg-header-2{
    color: #725043;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}

.reg-content{
    margin-left: 380px;
}
.photo{
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    margin-top: 70px;
    
    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 50%;
}
.change-photo{
    position: absolute;
    margin-left: 245px;
    margin-top: -90px;
    box-sizing: border-box;
    width: auto;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 15px;
}
.change-photo:hover{
    background-color: #e4b774;
}
.change-photo input[type="file"] {
    display: none;
  }
.change-photo-text{
    font-family: "Inter";
    text-align: center;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 200;
    padding: 0 10px;
}

.info{
    font-weight: 400;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}
.annotation{
    margin-top: -42px;

    font-size: 12px;
    font-weight: 200;
}

.input-box-reg-name{
    width: 281.44px;
    height: 40px;

    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 15px;
    padding: 16px;
}
.input-box-reg-surname{
    display: flex;
    margin-left: 318px;
    margin-top: 0px;
}
.input-box-reg{
    width: 600px;
    height: 40px;
}
.input-box-reg-text{
    display: block;
    font-size: 12px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 5px;
}





.Name-surname{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-area: B;
    margin-top: 100px;
    margin-left: 0px;
}
.name_surname{
    width: auto;
    font-size: 32px;
    font-weight: 400;
    color: #725043;
}
.surname{
    display: flex;
    margin-left: 318px;
    margin-top: -60px;
}
.proff{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #725043;
}




.menu-item2{
    display: flex;
}
.specialization{
    width: auto;
    height: 40px;

    margin-top: 10px;
    margin-right: 26px;

    background: #FFCC80;
    border: 2px solid #725043;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s;
}
.specialization:hover{
    background: #d3aa6e;
}
.specialization-text{
    text-align: center;
    padding: 0 25px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 200;
}

.about{
    width: 600px;
    min-height: 200px;

    padding: 10px;
    border: 1px solid #FFCC80;
    border-radius: 10px;

    word-break: break-all;
    word-wrap: break-word;
}




.projects{
    margin-top: 10px;
    margin-bottom: 0px;
}
.files-container{
    max-width: 650px;
    background: #FFCC80;
    border: 2px solid #725043;
}
#imageContainer {
    display: flex;
    flex-wrap: wrap;
}
.image-wrapper {
    max-width: 650px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.uploaded-image {
    max-width: 600px;
    margin-bottom: 10px;
}

.file-item {
    display: flex;
    align-items: center;
}
.file-info {
    margin-right: 10px;
}
.remove-button-file {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}
.remove-button-file:hover {
    background-color: darkred;
}
.file-block{
    margin-bottom: 10px;
}
.image-block{
    margin: 5px;
}



.save-text{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 10px 50px;
}
.btn-save{
    width: auto;
    height: auto;
    margin-left: 120px;
    margin-bottom: 30px;
}

.content-profile{
    display: grid;
    grid-template-columns: 32% 34% 34%;
    grid-template-areas: 
    "A B C" 
    "K D C";
}

.photo-profile{
    margin-left: 180px;
    width: 250px;
    height: 250px;
    display: block;
    grid-area: A;
}




.About-person{
    display: grid;
    grid-area: C;
    margin-top: 105px;
    margin-left: 0px;
}
.about-item{
    margin-bottom: 23px;
    margin-right: 50px;

    width: 117px;

    font-size: 20px;
    font-weight: 200;
}





.change-btn{
    display: flex;
    justify-content: center;
    grid-area: D;
}
.change{
    width: auto;
    height: 50px;
    padding: 0 10px;
    margin-top: 65px;
    margin-left: 0px;
}
.change-text{
    text-decoration: none;
    text-align: center;

    font-size: 24px;
    font-weight: 500;
    color: #725043;
}




.image{
    margin-left: 30px;
}

.menu-item-image{
    display: flex;
    margin-bottom: 32px;
}




.about-you{
    margin-left: 180px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 200;
}
.text-about-you{
    background: #FFFFFF;
    border: 2px solid #FFCC80;
    border-radius: 15px;
    max-width: 1100px;
    min-height: 150px;
    margin-left: 180px;
}
.text-ay{
    margin-left: 25px;
    max-width: 1050px;
    padding: 15px 0px;
    word-break: break-all;
    word-wrap: break-word;
}

.img-star{
    margin: 0 40px;
}
.star-row{
    margin: 30px auto 10px auto;
}
.second-row-star{
    margin: 0px 20px;
}

.project-text{
    margin-left: 0;
    margin-bottom: 0;
    font-size: 20px;
}
.project-block{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 10px;
}