* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: #d1d3d3;
    font-family: 'Inter';
    color: black;
}
ul{
    list-style: none;
}
h1, h2, h3{
    font-family: 'Inter';
    font-weight: 200;
    color: #725043;
}
.main-form{
    width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
}


.topColumn{
    height: 100px;
    display: flex;
    align-items: center;
}
.topIcon{
    margin-right: 760px;
    margin-left: 40px;
}
.top-actions{
    display: flex;
}
.menu-item{
    margin-right: 48px;
    font-size: 16px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-link{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
.menu-link:hover{
    color: #725043;
    text-decoration: underline;
    text-decoration-color: #725043;
    text-decoration-skip-ink: none;
}



.input-window{
    position: absolute;
    display: none;
    opacity: 0;
    left: 37%;
    top: 96px;
    box-sizing: border-box;
    width: 430px;
    height: 720px;
    background: #FDE8E8;
    border: 5px solid #9208C2;
    border-radius: 50px;
    z-index: 101;
}
.input-window:target{
    display: block;
    opacity: 1;
    animation: fadeInFromNone 0.7s ease-in-out;
}
@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
}
.input-icon{
    margin-left: 42.86%;
    margin-top: 24px;
}
.input-header{
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 32px;
}
.name-input-box{
    font-size: 20px;
    font-weight: 300;
    margin-left: 76px;
    width: 220px;
}
.input-box{
    display: block;
    width: 300px;
    height: 45px;
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 19px;
    margin-top: 4px;
    margin-left: 60px;
    margin-bottom: 33px;
    padding: 16px;
}
.forgot-password{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.forgot-password:hover{
    color: #725043;
    text-decoration: underline;
    text-decoration-color: #725043;
    text-decoration-skip-ink: none;
}
input[type="email"] {
    font-family: "Inter";
    font-size: "Inter";
    line-height: "Inter"; 
}
input[type="password"] {
    font-family: "Inter";
    font-size: "Inter";
    line-height: "Inter"; 
}
.or{
    text-align: center;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.input-with{
    position: relative;
    display: flex;
}
.name-input-box-with{
    font-size: 20px; 
    margin-left: 60px;
    margin-top: 5px;
}
.vk-img{
    margin-left: 10px;
}





.stage{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 224px;
}
.content{
    position: relative;
    top: -80px;
}
.stage_title{
    font-size: 110px;
    margin-bottom: 50px;
}
.stage_text{
    font-size: 21px;
    margin-bottom: 50px;
}


.btn{
    text-decoration: none;
    font-weight: 500;
}
.btn-input{
    color: #725043;
    display: block;
    position: relative;
    width: 142px;
    height: 50px;
    background: #FFCC80;
    border: 2px solid #725043;
    border-radius: 40px;
    transition: background-color 0.6s;
}
.btn_text{
    text-align: center;
    font-size: 24px;
    margin-top: 8px;
}
.btn_text2{
    font-size: 32px;
    margin-top: 0;
}
.btn-input:hover{
    background-color: #ecb664;
}
.btn-input2{
    color: white;
    display: block;
    width: 300px;
    height: 45px;
    background: #FC5050;
    border: 2px solid #725043;
    border-radius: 40px;
    transition: background-color 0.6s;
    margin-top: 32px;
    margin-left: 60px;
}
.btn-input2:hover{
    background-color: #db2424;
}
.btn-register{
    background: #5CBF4C;
    margin-top: 10px;
}
.btn-register:hover{
    background-color: #5a9e4f;
}